In [2]:
import pandas as pd
import numpy as np

In [3]:
melb=pd.read_csv("melb_data.csv")

In [4]:
melb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [5]:
melb.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
melb.Car.fillna(melb.Car.median(),inplace=True)
melb.YearBuilt.fillna(melb.YearBuilt.median(),inplace=True)
melb.BuildingArea.fillna(melb.BuildingArea.mean(),inplace=True)

In [7]:
melb.CouncilArea.fillna(melb.CouncilArea.mode()[0],inplace=True)

In [8]:
melb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13580 non-null float64
Landsize         13580 non-null float64
BuildingArea     13580 non-null float64
YearBuilt        13580 non-null float64
CouncilArea      13580 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [19]:
melb.CouncilArea.unique()

array(['Yarra', 'Moonee Valley', 'Port Phillip', 'Darebin', 'Hobsons Bay',
       'Stonnington', 'Boroondara', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', 'Knox', 'Maroondah',
       'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik', 'Whittlesea',
       'Frankston', 'Macedon Ranges', 'Yarra Ranges', 'Wyndham',
       'Cardinia', 'Unavailable', 'Moorabool'], dtype=object)

In [22]:
melb.Address.unique()

array(['85 Turner St', '25 Bloomburg St', '5 Charles St', ...,
       '83 Power St', '96 Verdon St', '6 Agnes St'], dtype=object)

In [18]:
melb_data = melb.iloc[:,[12,13,14,15,4]]
features = melb.iloc[:,[12,13,14,15]].values
label = melb.iloc[:,[4]].values
melb_data.head()

   Car  Landsize  BuildingArea  YearBuilt      Price
0  1.0     202.0     151.96765     1970.0  1480000.0
1  0.0     156.0      79.00000     1900.0  1035000.0
2  0.0     134.0     150.00000     1900.0  1465000.0
3  1.0      94.0     151.96765     1970.0   850000.0
4  2.0     120.0     142.00000     2014.0  1600000.0

In [19]:
melb_data.corr()

                   Car  Landsize  BuildingArea  YearBuilt     Price
Car           1.000000  0.026780      0.068276   0.078696  0.239109
Landsize      0.026780  1.000000      0.094659   0.008806  0.037507
BuildingArea  0.068276  0.094659      1.000000   0.005178  0.069570
YearBuilt     0.078696  0.008806      0.005178   1.000000 -0.259387
Price         0.239109  0.037507      0.069570  -0.259387  1.000000

In [20]:
#Landsize and YearBuilt have lowest correlation,select YearBuilt and Car parking
features = melb_data.iloc[:,[0,3]]
label = melb_data.iloc[:,[4]]

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

for i in range(1,100):
    x_train,x_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=i)
    
    model = LinearRegression()
    model.fit(x_train,y_train)
    train_score = model.score(x_train,y_train)
    test_score = model.score(x_test,y_test)
    
    if test_score > train_score:
        print("Test Score: {} Training Score: {} Seed: {}".format(test_score,train_score,i))

Test Score: 0.13502544469544941 Training Score: 0.13500945694958555 Seed: 4
Test Score: 0.14979924732469618 Training Score: 0.13118880034327784 Seed: 6
Test Score: 0.16384860941151502 Training Score: 0.12809282848770231 Seed: 11
Test Score: 0.1411382694004527 Training Score: 0.13332649950102315 Seed: 14
Test Score: 0.15101729209717119 Training Score: 0.1312214796264075 Seed: 15
Test Score: 0.15735761043610252 Training Score: 0.12899592870528998 Seed: 18
Test Score: 0.14401423971757332 Training Score: 0.13251635368460013 Seed: 19
Test Score: 0.14610611446391653 Training Score: 0.132156149816667 Seed: 20
Test Score: 0.13726577646424343 Training Score: 0.13429807464087185 Seed: 21
Test Score: 0.15808553366125222 Training Score: 0.12902409105181623 Seed: 22
Test Score: 0.14963577755514956 Training Score: 0.13130437637203018 Seed: 23
Test Score: 0.15115517619885244 Training Score: 0.1311457185705176 Seed: 26
Test Score: 0.13555782250435966 Training Score: 0.13451161721757432 Seed: 28
Test Score: 0.1378736323538309 Training Score: 0.13429459183823744 Seed: 33
Test Score: 0.1567986466276341 Training Score: 0.12927192025342682 Seed: 37
Test Score: 0.13509658934389124 Training Score: 0.13488517958148472 Seed: 38
Test Score: 0.14695154360316187 Training Score: 0.1321497225495042 Seed: 39
Test Score: 0.15226123572263273 Training Score: 0.13114189360506645 Seed: 43
Test Score: 0.16131974707118757 Training Score: 0.12785984584223464 Seed: 45
Test Score: 0.1366071786415074 Training Score: 0.13450177155854814 Seed: 46
Test Score: 0.1464091651103161 Training Score: 0.13226126036194097 Seed: 48
Test Score: 0.14490769420690552 Training Score: 0.13249965932337926 Seed: 49
Test Score: 0.15344795863893979 Training Score: 0.12992156072168248 Seed: 50
Test Score: 0.13741626259896622 Training Score: 0.13432644941120253 Seed: 51
Test Score: 0.13856333995095182 Training Score: 0.1341919846533759 Seed: 55
Test Score: 0.1655769099790937 Training Score: 0.12805418058831597 Seed: 57
Test Score: 0.15960416526819365 Training Score: 0.12875433097237898 Seed: 58
Test Score: 0.14941700787607293 Training Score: 0.13121071531352113 Seed: 60
Test Score: 0.14518154357586477 Training Score: 0.13236250003359729 Seed: 61
Test Score: 0.14522795978094205 Training Score: 0.13255274560149677 Seed: 66
Test Score: 0.14610056085774312 Training Score: 0.1323605887784225 Seed: 67
Test Score: 0.1424976468264979 Training Score: 0.13248477130584768 Seed: 71
Test Score: 0.1367371902653467 Training Score: 0.13457445116857836 Seed: 74
Test Score: 0.15183105553121778 Training Score: 0.1310600772985535 Seed: 76
Test Score: 0.14430472806716588 Training Score: 0.13252389166118006 Seed: 77
Test Score: 0.1385267785053823 Training Score: 0.13405609053834222 Seed: 78
Test Score: 0.13526687988878228 Training Score: 0.13480748600226233 Seed: 80
Test Score: 0.15323275963659377 Training Score: 0.13049638253238982 Seed: 81
Test Score: 0.14199309622063716 Training Score: 0.1332018616697198 Seed: 82
Test Score: 0.14079131142196166 Training Score: 0.13346033140765778 Seed: 85
Test Score: 0.143073623787227 Training Score: 0.1326540979942028 Seed: 86
Test Score: 0.14324377894477158 Training Score: 0.1329201891768993 Seed: 88
Test Score: 0.1364413058840419 Training Score: 0.1345794417147641 Seed: 89
Test Score: 0.13623306951990255 Training Score: 0.134760084085226 Seed: 92
Test Score: 0.15818125297262187 Training Score: 0.1290727951129168 Seed: 94
Test Score: 0.13517436910458613 Training Score: 0.13493832666927852 Seed: 97
Test Score: 0.15068102174140985 Training Score: 0.13097546074687327 Seed: 98
Test Score: 0.1512171633382009 Training Score: 0.13115779363981583 Seed: 99

In [ ]:
#Conclusion - The model does not satisfy the accuracy requirements. Hence rejected.

In [22]:
featuresForRFE = melb.iloc[:,[12,13,14,15]].values
labelForRFE = melb.iloc[:,[4]].values

In [24]:
from sklearn.linear_model import LinearRegression 

modelForRFE = LinearRegression()

from sklearn.feature_selection import RFE
selectFeatures = RFE(estimator = modelForRFE,step=1)
selectFeatures.fit(featuresForRFE,labelForRFE)

print(melb_data.columns)
print(selectFeatures.ranking_)

Index(['Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Price'], dtype='object')
[1 3 2 1]

C:\Users\Sayali\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
#Price can be determined by Car column

In [26]:
features = melb_data.iloc[:,[0]]
label = melb_data.iloc[:,[4]]

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

for i in range(1,100):
    x_train,x_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=i)
    
    model = LinearRegression()
    model.fit(x_train,y_train)
    train_score = model.score(x_train,y_train)
    test_score = model.score(x_test,y_test)
    
    if test_score > train_score:
        print("Test Score: {} Training Score: {} Seed: {}".format(test_score,train_score,i))

Test Score: 0.0589268704309297 Training Score: 0.0567295824147096 Seed: 1
Test Score: 0.06306750670748273 Training Score: 0.055773895182344435 Seed: 4
Test Score: 0.06043277309497952 Training Score: 0.05629551234894059 Seed: 10
Test Score: 0.07359049321203215 Training Score: 0.05319722039367136 Seed: 11
Test Score: 0.057441528154416166 Training Score: 0.05668592879923884 Seed: 12
Test Score: 0.06830965734748307 Training Score: 0.05417569576291292 Seed: 14
Test Score: 0.06150393168365676 Training Score: 0.05591336976549599 Seed: 15
Test Score: 0.06120965272205059 Training Score: 0.0560300365038684 Seed: 16
Test Score: 0.05790996968403528 Training Score: 0.05680167011788406 Seed: 18
Test Score: 0.06571707304761654 Training Score: 0.054779355005061925 Seed: 19
Test Score: 0.0631403446567037 Training Score: 0.05560263076933236 Seed: 20
Test Score: 0.060462435729874864 Training Score: 0.05614199224896166 Seed: 21
Test Score: 0.06658256478807889 Training Score: 0.05473373032543605 Seed: 22
Test Score: 0.06523136967361232 Training Score: 0.05504660140274853 Seed: 23
Test Score: 0.059897899729820736 Training Score: 0.05639081861315476 Seed: 24
Test Score: 0.06076916921761044 Training Score: 0.05625058540335959 Seed: 31
Test Score: 0.060920293531954606 Training Score: 0.05622400013288109 Seed: 32
Test Score: 0.0710520125356986 Training Score: 0.05334704938406121 Seed: 35
Test Score: 0.0672146481835364 Training Score: 0.05464634339830399 Seed: 36
Test Score: 0.06055892749137859 Training Score: 0.05627286981480284 Seed: 37
Test Score: 0.05837962988699774 Training Score: 0.05670303999625126 Seed: 38
Test Score: 0.06632251032784497 Training Score: 0.05504484292230427 Seed: 40
Test Score: 0.07592491299805271 Training Score: 0.05254123900024976 Seed: 42
Test Score: 0.058025089656581375 Training Score: 0.05696992913854726 Seed: 43
Test Score: 0.07816658394340781 Training Score: 0.051413109798527645 Seed: 45
Test Score: 0.067138542402568 Training Score: 0.05430859953643907 Seed: 50
Test Score: 0.06697691575345943 Training Score: 0.054724115665595874 Seed: 51
Test Score: 0.057621630626616294 Training Score: 0.05702377383898072 Seed: 53
Test Score: 0.06897594377576655 Training Score: 0.0544146181371048 Seed: 57
Test Score: 0.07151071216803417 Training Score: 0.05345974433573297 Seed: 58
Test Score: 0.06502165660427628 Training Score: 0.055050929841658824 Seed: 60
Test Score: 0.06268572601929723 Training Score: 0.055683784474727105 Seed: 61
Test Score: 0.06395378633640869 Training Score: 0.055368563409816995 Seed: 63
Test Score: 0.06986280559600966 Training Score: 0.05366070082941199 Seed: 65
Test Score: 0.06804286433409801 Training Score: 0.0545215251548663 Seed: 67
Test Score: 0.05962385566597095 Training Score: 0.056191766651484176 Seed: 68
Test Score: 0.062317055829105954 Training Score: 0.05533733477173053 Seed: 69
Test Score: 0.05813392591940537 Training Score: 0.05651065841400993 Seed: 71
Test Score: 0.059478255693818594 Training Score: 0.05649199665636895 Seed: 77
Test Score: 0.0635674727586526 Training Score: 0.05541793916929483 Seed: 78
Test Score: 0.06807754897953 Training Score: 0.05442926762147471 Seed: 81
Test Score: 0.0640856993859914 Training Score: 0.0553200507391427 Seed: 82
Test Score: 0.05723008233243099 Training Score: 0.056770210552253286 Seed: 83
Test Score: 0.060336037486226735 Training Score: 0.056140208985738904 Seed: 85
Test Score: 0.06148725601837779 Training Score: 0.05604547898848988 Seed: 88
Test Score: 0.058929130815222774 Training Score: 0.056564846228493226 Seed: 91
Test Score: 0.057531709395672315 Training Score: 0.057082614111826246 Seed: 92
Test Score: 0.05964541853087846 Training Score: 0.056525175620867896 Seed: 94
Test Score: 0.06213675510568961 Training Score: 0.05584690600051334 Seed: 98

In [28]:
#Conclusion - The model does not satisfy the accuracy requirements. Hence rejected.

In [29]:
featuresForAnnova = melb_data.iloc[:,[0,1,2,3]]
labelForAnnova = melb_data.iloc[:,[4]]

In [31]:
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import f_regression

selectFeaturesAnnova = SelectPercentile(percentile=50,score_func=f_regression)
selectFeaturesAnnova.fit(featuresForAnnova,labelForAnnova)

print(melb_data.columns)
print(selectFeaturesAnnova.get_support())

Index(['Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Price'], dtype='object')
[ True False False  True]

C:\Users\Sayali\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
#Conclusion - Price depends on Car Parking Availability

In [33]:
featuresForModel = melb_data.iloc[:,[0,1,2,3]]
labelForModel = melb_data.iloc[:,[4]]

In [34]:
from sklearn.linear_model import LinearRegression

modelForModel = LinearRegression()

from sklearn.feature_selection import SelectFromModel

selectFeaturesModel = SelectFromModel(modelForModel)
selectFeaturesModel.fit(featuresForModel,labelForModel)

print(melb_data.columns)
print(selectFeaturesModel.get_support())

Index(['Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Price'], dtype='object')
[ True False False False]

In [ ]:
#Conclusion - Price depends on Car Parking Availability