In [1]:
import pandas as pd
import numpy as np

In [2]:
melb=pd.read_csv("melb_data.csv")

In [3]:
melb_data = melb.iloc[:,[12,13,14,15,4]]
melb_data.head()

   Car  Landsize  BuildingArea  YearBuilt      Price
0  1.0     202.0           NaN        NaN  1480000.0
1  0.0     156.0          79.0     1900.0  1035000.0
2  0.0     134.0         150.0     1900.0  1465000.0
3  1.0      94.0           NaN        NaN   850000.0
4  2.0     120.0         142.0     2014.0  1600000.0

In [4]:
melb_data.Car.fillna(melb_data.Car.median(),inplace=True)
melb_data.YearBuilt.fillna(melb_data.YearBuilt.median(),inplace=True)
melb_data.BuildingArea.fillna(melb_data.BuildingArea.mean(),inplace=True)
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 5 columns):
Car             13580 non-null float64
Landsize        13580 non-null float64
BuildingArea    13580 non-null float64
YearBuilt       13580 non-null float64
Price           13580 non-null float64
dtypes: float64(5)
memory usage: 530.5 KB

C:\Users\Sayali\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [5]:
features = melb_data.iloc[:,[0,1,2,3]].values
label = melb_data.iloc[:,[4]].values

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

for i in range(1,100):
    x_train,x_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=i)
    
    model = LinearRegression()
    model.fit(x_train,y_train)
    train_score = model.score(x_train,y_train)
    test_score = model.score(x_test,y_test)
    
    if test_score > train_score:
        print("Test Score: {} Training Score: {} Seed: {}".format(test_score,train_score,i))

Test Score: 0.15635646431634564 Training Score: 0.13368812606294378 Seed: 6
Test Score: 0.16852990304191007 Training Score: 0.13134927964006038 Seed: 11
Test Score: 0.14023061061469633 Training Score: 0.13738553383705376 Seed: 12
Test Score: 0.14604365822931287 Training Score: 0.13650718054351296 Seed: 14
Test Score: 0.156464431382222 Training Score: 0.1343356393361712 Seed: 15
Test Score: 0.16275405817102195 Training Score: 0.13199400565336838 Seed: 18
Test Score: 0.14908774073567133 Training Score: 0.13563832791180663 Seed: 19
Test Score: 0.15271213437432019 Training Score: 0.1344961955494277 Seed: 20
Test Score: 0.14175889917578943 Training Score: 0.13757348430560334 Seed: 21
Test Score: 0.16253997331895087 Training Score: 0.1323342174928176 Seed: 22
Test Score: 0.15650747222568417 Training Score: 0.134240386159733 Seed: 26
Test Score: 0.1438039347703891 Training Score: 0.13714338626355493 Seed: 33
Test Score: 0.16124883387661582 Training Score: 0.13196876512078415 Seed: 37
Test Score: 0.14084041591538488 Training Score: 0.13778198116899953 Seed: 38
Test Score: 0.1410583496138147 Training Score: 0.1373870089186534 Seed: 41
Test Score: 0.1569589756642351 Training Score: 0.13445023079845764 Seed: 43
Test Score: 0.16634504492963098 Training Score: 0.13094121145813853 Seed: 45
Test Score: 0.14171595661519742 Training Score: 0.13758126537163284 Seed: 46
Test Score: 0.15846591893054618 Training Score: 0.13303210091370055 Seed: 50
Test Score: 0.14265874139403623 Training Score: 0.1374426633388196 Seed: 51
Test Score: 0.17083254620988275 Training Score: 0.13120650160044334 Seed: 57
Test Score: 0.154781041755504 Training Score: 0.13421747359386893 Seed: 60
Test Score: 0.15053287973282137 Training Score: 0.13538469542530585 Seed: 61
Test Score: 0.13942621178410275 Training Score: 0.1381142580707072 Seed: 63
Test Score: 0.15055586228930384 Training Score: 0.1356467889079328 Seed: 66
Test Score: 0.15115535609704778 Training Score: 0.1354772539493958 Seed: 67
Test Score: 0.14061671535878983 Training Score: 0.13716394570838453 Seed: 74
Test Score: 0.1572981794151248 Training Score: 0.13415159073057792 Seed: 76
Test Score: 0.14906708016622627 Training Score: 0.13573319092937008 Seed: 77
Test Score: 0.1435052781561723 Training Score: 0.1371250167454301 Seed: 78
Test Score: 0.15827032256734852 Training Score: 0.13363064820240944 Seed: 81
Test Score: 0.14663622015567512 Training Score: 0.13643817575685313 Seed: 82
Test Score: 0.1457764680920436 Training Score: 0.13662844715297162 Seed: 85
Test Score: 0.14793529641579395 Training Score: 0.13577658823985406 Seed: 86
Test Score: 0.14691588924750143 Training Score: 0.13642304021027418 Seed: 88
Test Score: 0.14170364398552948 Training Score: 0.1376003684390783 Seed: 89
Test Score: 0.14430788962926977 Training Score: 0.1371363591313326 Seed: 92
Test Score: 0.13819801881800686 Training Score: 0.13779713519002146 Seed: 95
Test Score: 0.1402883976148771 Training Score: 0.13812818572827745 Seed: 97
Test Score: 0.15645380681276344 Training Score: 0.13427344376925987 Seed: 99