In [1]:
import pandas as pd
import numpy as np

In [3]:
melb_data=pd.read_csv("melb_data.csv")

In [8]:
melb_data_final = melb_data.iloc[:,[12,13,14,15]]

In [9]:
melb_data_final.head()

   Car  Landsize  BuildingArea  YearBuilt
0  1.0     202.0           NaN        NaN
1  0.0     156.0          79.0     1900.0
2  0.0     134.0         150.0     1900.0
3  1.0      94.0           NaN        NaN
4  2.0     120.0         142.0     2014.0

In [13]:
melb_data_final.Car.fillna(melb_data_final.Car.median(),inplace=True)

C:\Users\Sayali\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
melb_data_final.YearBuilt.fillna(melb_data_final.YearBuilt.median(),inplace=True)

C:\Users\Sayali\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [16]:
melb_data_final.BuildingArea.fillna(melb_data_final.BuildingArea.mean(),inplace=True)

In [20]:
melb_data_final.head()

   Car  Landsize  BuildingArea  YearBuilt
0  1.0     202.0     151.96765     1970.0
1  0.0     156.0      79.00000     1900.0
2  0.0     134.0     150.00000     1900.0
3  1.0      94.0     151.96765     1970.0
4  2.0     120.0     142.00000     2014.0

In [21]:
melb_data=pd.read_csv("melb_data.csv")
melb_data_final = melb_data.iloc[:,[12,13,14,15]]
melb_data_final.head()

   Car  Landsize  BuildingArea  YearBuilt
0  1.0     202.0           NaN        NaN
1  0.0     156.0          79.0     1900.0
2  0.0     134.0         150.0     1900.0
3  1.0      94.0           NaN        NaN
4  2.0     120.0         142.0     2014.0

In [24]:
melb_data_array = melb_data_final.values

In [25]:
from sklearn.preprocessing import Imputer

missingValues=Imputer(missing_values = 'NaN',
                       strategy = "median",
                       axis = 0 )
missingValues.fit(melb_data_array[:,[0,3]])
melb_data_array[:,[0,3]] = missingValues.transform(melb_data_array[:,[0,3]])

In [26]:
from sklearn.preprocessing import Imputer

missingValues=Imputer(missing_values = 'NaN',
                       strategy = "mean",
                       axis = 0 )
missingValues.fit(melb_data_array[:,[2]])
melb_data_array[:,[2]] = missingValues.transform(melb_data_array[:,[2]])

In [27]:
melb_data_array

array([[1.0000000e+00, 2.0200000e+02, 1.5196765e+02, 1.9700000e+03],
       [0.0000000e+00, 1.5600000e+02, 7.9000000e+01, 1.9000000e+03],
       [0.0000000e+00, 1.3400000e+02, 1.5000000e+02, 1.9000000e+03],
       ...,
       [4.0000000e+00, 4.3600000e+02, 1.5196765e+02, 1.9970000e+03],
       [5.0000000e+00, 8.6600000e+02, 1.5700000e+02, 1.9200000e+03],
       [1.0000000e+00, 3.6200000e+02, 1.1200000e+02, 1.9200000e+03]])

In [28]:
features = melb_data_array[:,[1,2,3]]
label = melb_data_array[:,[0]]